In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [51]:
df = pd.read_excel(
    "./base/bancoOPENCOMPLETO.xlsx"
    , sheet_name = 0
    , na_values = ['', ' ']
    , dtype  = {'ano': np.int32, 'Estado': 'category'
        , 'CV_SCR1 (1 ano)': np.float32, 'CV_SCR2 (15 meses)': np.float32, 'Poprural': np.float32
        , 'PopUrb': np.float32, 'RDPC': np.float32, 'PEA': np.float32, 'PEA_A': np.float32
        , 'IDHM': np.float32, 'IDHM_E': np.float32, 'IDHM_L': np.float32, 'IDHM_R': np.float32
        , 'T_ANALF18M': np.float32, 'T_MED18M': np.float32,'T_SUPER25M': np.float32, 'T_AGUA': np.float32
        , 'T_BANAGUA': np.float32, 'T_DENS': np.float32, 'T_LIXO': np.float32
        , 'T_LUZ': np.float32,'AGUA_ESGOTO': np.float32, 'POPDOMCHEFMULHERES': np.float32, 'DENSDEMOG2010': np.float32
        , 'PERC_NV_7CPN': np.float32,'CoberturaAB': np.float32
})


df.rename(columns={'Estado': 'UF', 'ano':'ANO','Nome': 'MUNICIPIO', 'CV_SCR1 (1 ano)': 'SCR1'
                          , 'CV_SCR2 (15 meses)': 'SCR2', 'Poprural': 'POPRURAL', 'PopUrb': 'POPURB'
                          , 'CoberturaAB': 'COBERTURA_AB'}, inplace=True)

df['GP_SCR1'] = np.where(df['SCR1'] <= 50, 'Muito Baixa'
         , np.where(df['SCR1'] <= 95, 'Baixa'
                    , np.where(df['SCR1'] <= 120, 'Adequada', 'Elevada'
                              )
                   )
        )

df['GP_SCR2'] = np.where(df['SCR2'] <= 50, 'Muito Baixa'
         , np.where(df['SCR2'] <= 95, 'Baixa'
                    , np.where(df['SCR2'] <= 120, 'Adequada', 'Elevada'
                              )
                   )
        )

df = pd.merge(df, df_cidade_correto, how = 'left', on = 'CODMUN7')
df['MUNICIPIO'] = df['NOME_CIDADE']
del df['NOME_CIDADE']

df['UF'] = np.where(df['UF'] == 'acre', 'Acre'
                    , np.where(df['UF'] == 'amazonas', 'Amazonas', df['UF']))

df.head()

,COD,CODMUN7,UF,ANO,MUNICIPIO,SCR1,SCR2,POPRURAL,POPURB,RDPC,...,T_DENS,T_LIXO,T_LUZ,AGUA_ESGOTO,POPDOMCHEFMULHERES,DENSDEMOG2010,PERC_NV_7CPN,COBERTURA_AB,GP_SCR1,GP_SCR2
0,110001,1.10002e+06,Rondonia,2016,Alta Floresta D'Oeste,96.449997,92.080002,42.730000,57.270000,476.989990,...,22.58,94.050003,93.980003,9.31,26.920000,3.450000,67.180000,80.930000,Adequada,Baixa
1,110002,1.10002e+06,Rondonia,2016,Ariquemes,98.919998,89.519997,15.300000,84.699997,689.950012,...,27.15,96.720001,98.580002,11.40,32.630001,20.410000,72.620003,61.919998,Adequada,Baixa
2,110003,1.10003e+06,Rondonia,2016,Cabixi,109.639999,77.110001,57.340000,42.660000,457.170013,...,19.93,99.139999,96.360001,3.31,16.420000,4.800000,65.750000,100.000000,Adequada,Baixa
3,110004,1.10005e+06,Rondonia,2016,Cacoal,99.180000,82.320000,21.190001,78.809998,738.059998,...,20.50,98.169998,98.889999,1.85,31.730000,20.719999,74.589996,71.190002,Adequada,Baixa
4,110005,1.10006e+06,Rondonia,2016,Cerejeiras,99.279999,85.510002,15.330000,84.669998,577.179993,...,16.66,91.889999,98.849998,5.34,39.970001,6.120000,76.809998,95.910004,Adequada,Baixa

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 0 to 1349
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COD                 1350 non-null   int64
 1   CODMUN7             1347 non-null   object
 2   UF                  1350 non-null   object
 3   ANO                 1350 non-null   int32
 4   MUNICIPIO           1299 non-null   object
 5   SCR1                1350 non-null   float32
 6   SCR2                1350 non-null   float32
 7   POPRURAL            1347 non-null   float32
 8   POPURB              1347 non-null   float32
 9   RDPC                1347 non-null   float32
 10  PEA                 1347 non-null   float32
 11  PEA_A               1347 non-null   float32
 12  IDHM                1347 non-null   float32
 13  IDHM_E              1347 non-null   float32
 14  IDHM_L              1347 non-null   float32
 15  IDHM_R              1347 non-null   float32
 16  T_ANALF18M          1347 non-null   float32
 17  T_MED18M            1347 non-null   float32
 18  T_SUPER25M          1347 non-null   float32
 19  T_AGUA              1347 non-null   float32
 20  T_BANAGUA           1347 non-null   float32
 21  T_DENS              1347 non-null   float32
 22  T_LIXO              1347 non-null   float32
 23  T_LUZ               1347 non-null   float32
 24  AGUA_ESGOTO         1347 non-null   float32
 25  POPDOMCHEFMULHERES  1347 non-null   float32
 26  DENSDEMOG2010       1347 non-null   float32
 27  PERC_NV_7CPN        1348 non-null   float32
 28  COBERTURA_AB        1350 non-null   float32
 29  GP_SCR1             1350 non-null   object
 30  GP_SCR2             1350 non-null   object
dtypes: float32(24), int32(1), int64(1), object(5)
memory usage: 205.7+ KB

In [49]:
df_cidade_correto.head()

   CODMUN7   NOME_CIDADE
0  1200013    AcrelÃ¢ndia
1  1200054  Assis Brasil
2  1200104     BrasilÃ©ia
3  1200138        Bujari
4  1200179      Capixaba